p {
  margin: 0;
}
// img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
.img-thumb {
  width: 400px;
  height: 300px;
  margin-bottom: 5px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  outline: 1px solid gold;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.photo-card img:hover {
  transform: scale(1.05);
}

.info {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  background-color: beige;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.total-hits {
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: underline;
  color: gray;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.btn-submit,
.load-more {
  text-align: center;
  padding: 5px;
  width: 150px;
  height: 50px;
  background-color: #00ffff;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid green;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.btn-submit {
  margin-left: 5px;
}
.wrapper-btn {
  text-align: center;
}
input {
  height: 30px;
  border-radius: 10px;
}
.hide {
  display: none;
}
