p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-thumb {
  width: 400px;
  height: 300px;
  margin-bottom: 5px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  outline: 1px solid palevioletred;
  margin: 10px;
}
.info {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.total-hits {
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: underline;
  color: gray;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.btn-submit,
.load-more {
  text-align: center;
  padding: 5px;
  width: 200px;
  height: 50px;
  background-color: #00ffff;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid green;
  font-weight: bold;
  font-size: 20px;
}
.btn-submit {
  margin-left: 5px;
}
.wrapper-btn {
  text-align: center;
}
input {
  height: 30px;
  border-radius: 10px;
}
.hide {
  display: none;
}
